.products {
  padding: 30px;
  display: flex;
  align-items: flex-start;
}

/*Product Sidebar*/

.product-sidebar {
  width: 25%;
  border: 2px solid rgb(200, 192, 192);
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
}
.sidebar-item {
  margin-bottom: 20px;
}
.sidebar-item-title {
  color: var(--primary-color);
  font-size: 21px;
}
.form-group {
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.form-group label {
  color: var(--gray-color);
  font-size: 17px;
  font-weight: 600;
  margin-right: 5px;
}

/*Product List*/

.product-list {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product-item {
  width: 30%;
  height: 330px;
  margin-bottom: 20px;
  background-color: var(--white-color);
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 0 0 0.5px 0.5px var(--gray-color);
}
.product-item:hover .product-item-tile {
  color: blue;
}
.product-item-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
.product-item-tile {
  color: var(--primary-color);
  font-size: 17px;
}
.product-item-price {
  color: var(--primary-color);
  font-size: 21px;
  font-weight: bold;
}

/*Media Queries*/

@media (max-width: 1199px) {
  .products {
    flex-direction: column;
  }
  .product-list {
    width: 100%;
  }
  .product-sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .sidebar-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
  }
}
@media (max-width: 991px) {
  .product-item {
    width: 48%;
  }
}
@media (max-width: 575px) {
  .product-item {
    width: 100%;
  }
  .product-sidebar {
    flex-direction: column;
  }
  .sidebar-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar-item-title {
    font-size: 21px;
  }
}
